@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --yellow-1: #fdd935;
  --yellow-2: #e9bd43;
  --yellow-3: #f5b935;
  --clr: #f5b935;
  --dark-color: #2e2e2e;
  --dark-color: #2e2e2e;
  --dark-alt-color: #777777;
  --white-color: #ffffff;
  --button-color: #333333;
  --transition: 0.5s ease-in-out;
--dark-color: #2e2e2e;
  --dark-alt-color: #777777;
  --white-color: #ffffff;
  --button-color: #333333;
  --transition: 0.5s ease-in-out;
}

.bg-dark-color {
    background-color: #09012b15
}

#heroImg {
    min-height: 100vh;
    overflow: none;
    max-width: 100%;
}

svg.lucide {
    margin: 0 auto;
}

ul.space-y-3 {
    display: flex;
    align-items: baseline;
}

li.flex > span {
    margin: 0px 10px;
}

.phone-icon {
    margin: 0 auto;
    display: flex;  
    align-items: baseline;
}

svg.lucide.lucide-phone.w-4.h-4.mr-2 {
    margin-right: 5px;
}

.card-container {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.cards {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#foldedClothes {
    margin-top: 40px;
}

#services {
  max-width: 100%;
  height: auto;
  background: linear-gradient(180deg, #120440c0, 5%, #120347ab, 50%, #020562a2), url('../public/3d-soap.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

#pricing {
  background: linear-gradient(180deg, #06368ae2, 5%, #025063e2, 50%, #2a9bbeac), url('../public/soap-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.quote-box {
  box-shadow: 5px 5px 25px 10px #535353a2;
}

li.flex.items-start.text-start.text-left {
    text-align: left;
    text-align: start;
    align-items: start;
    justify-content: start;
}
ul.space-y-4.mb-8 {
    text-align: start;
    justify-content: start;
    align-items: self-start;
    justify-content: start;
}
