@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --yellow-1: #fdd935;
  --yellow-2: #e9bd43;
  --yellow-3: #f5b935;
  --clr: #f5b935;
  --dark-color: #2e2e2e;
  --dark-color: #2e2e2e;
  --dark-alt-color: #777777;
  --white-color: #ffffff;
  --button-color: #333333;
  --transition: 0.5s ease-in-out;
--dark-color: #2e2e2e;
  --dark-alt-color: #777777;
  --white-color: #ffffff;
  --button-color: #333333;
  --transition: 0.5s ease-in-out;
}

.bg-dark-color {
    background-color: #09012b15
}

#heroImg {
    min-height: 100vh;
    overflow: none;
    max-width: 100%;
}

svg.lucide {
    margin: 0 auto;
}

ul.space-y-3 {
    display: flex;
    align-items: baseline;
}

li.flex > span {
    margin: 0px 10px;
}

.phone-icon {
    margin: 0 auto;
    display: flex;  
    align-items: baseline;
}

svg.lucide.lucide-phone.w-4.h-4.mr-2 {
    margin-right: 5px;
}

.card-container {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.cards {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#foldedClothes {
    margin-top: 40px;
}

/* 
.card__bx {
  position: relative;
  justify-content: center;
  align-items: center;
  transform: skewY(0deg);
}

.card__bx::before {
  inset: -10px 50px;
  border-top: .5px solid #fdd83572;
  transform: skewY(15deg);
  border-bottom: .5px solid #fdd83572;
}

.card__bx::before,
.card__bx::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: var(--transition);
}

.card__bx:hover::before {
  inset: -10px 40px;
  transform: skewY(0deg);
}

.card__bx::after {
  inset: -10px 40px;
  border-left: 1px solid #fdd83572;
  transform: skew(15deg);
  border-right: 1px solid #fdd83572;
}

.card__bx:hover::after {
  inset: -10px 40px;
  transform: skew(0deg);
  border: 2px solid var(--clr);
}

.card__bx .card__data {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  padding: 0 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.card__bx .card__data .card__icon {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: var(--text-color);
  background-color: var(--dark-color);
  transition: var(--transition);
}
.card__bx .card__data .card__icon {
  color: var(--yellow-3);
  box-shadow: 0 0 0 4px var(--dark-color), 0 0 0 6px var(--yellow-3);
}
.card__bx:hover .card__data .card__icon {
  color: var(--dark-color);
  background-color: var(--yellow-3);
  box-shadow: 0 0 0 4px var(--dark-color), 0 0 0 300px var(--yellow-3);
}
.card__bx .card__data .card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.card__bx .card__data h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white-color);
  transition: var(--transition);
}
.card__bx:hover .card__data h3 {
  color: var(--dark-color);
  transition: var(--transition);
}
.card__bx .card__data p {
  font-size: 0.9rem;
  color: var(--dark-alt-color);
  transition: var(--transition);
}
.card__bx:hover .card__data p {
  color: var(--dark-color);
  transition: var(--transition);
}
.card__bx .card__data a {
  position: relative;
  display: inline-flex;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  border: 2px solid var(--yellow-3);
  color: var(--dark-color);
  background-color: var(--yellow-3);
  transition: var(--transition);
}
.card__bx:hover .card__data a {
  color: var(--yellow-3);
  background-color: var(--dark-color);
}
.card__bx:hover .card__data a:hover {
  border-color: var(--dark-color);
  color: var(--dark-color);
  background-color: var(--yellow-3);
} */
