@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#heroImg {
    min-height: 100vh;
    overflow: none;
    max-width: 100%;
}
